REDDIT_USER_AGENT="service:com.domain.reverse:vx.y.z (by /u/reddit-username)"
REDDIT_CLIENT_ID="foo"
REDDIT_CLIENT_SECRET="bar"
REDDIT_USERNAME="baz"
REDDIT_PASSWORD="xyz"
REDDIT_MAX_REQS_PER_MINUTE=60

SLACK_CHANNEL_ID="channel"
SLACK_CLIENT_TOKEN="token"

TWITTER_API_KEY="aTwitterClientToken123"
TWITTER_API_SECRET="yourTwitterClientSecret456"
TWITTER_ACCESS_TOKEN="aTwitterUserAccessToken789"
TWITTER_ACCESS_SECRET="yourTwitterUserAccessTokenSecret000"
